<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>id: @Model.Id</h1>
        <h1>Name: @Model.Name</h1>
        <h1>@Model.Description</h1>
    </body>
    </html>